.board {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.boardRows{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: center;
}

.board-squares{
    background-color: lightgrey;
    display: flex;
    border: 1px solid black;
    justify-content: center;
}